html, body {
  margin: 0;
  padding: 0;
}



.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles--------------------------------------------------------------- */


.display-flex {
  display: flex;
}

.techwave-logo {
    color: white;
}

.gradient-text {
  /* Default gradient */
  background: linear-gradient(60deg, #F7E93F 0%, #FB0984 50%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-primary {
  background: linear-gradient(45deg, #F7E93F, #FB0984, #9100F8);
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 80000px;
  padding: 12.5px 16px;
}



/* Header Section Styles------------------------------------------------------ */

nav {
    background-color: #1A0B2E;
    border-bottom: 1px solid #333;
    
}


.nav-container {
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    
    
}

.nav-links {
    list-style: none;
    gap: 2rem;
}

.nav-links li {
    font-size: 1rem;
    font-weight: 400;
    color: white;
}



/* Hero Section Styles-------------------------------------------------------- */
.hero-section {
    background-image: url('../assets/hero-bg.png');
    height: 760px;
    background-position: center;
    margin: 0 auto;
}

.hero-bottom {
    text-align: center;
    
}

.hero-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.img-bottom {
    margin: 0 auto;
}

.img-top {
    position: absolute;
    margin: 0 auto;
}

.hero-bottom h3 {
    font-size: 3.8rem;
    font-weight: 700;
    color: white;
    /* margin-top: 20px; */
    margin-bottom: 0;

}

.hero-bottom p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin-top: 10px;
    
}

.subscribe-btn {
    background-color: transparent;
    color: #00FF88;
    font-weight: 6/00;
    font-size: 16px;
    border: 1px solid #00FF88;
    border-radius: 80000px;
    padding: 12.5px 16px;
    margin-left: 8px;
}



/* About Podcast Section Styles----------------------------------------------------------------- */

.about-podcast-container {
    background-color: #1A0B2E;
    text-align: center;
    padding: 1px 0;
}

.about-podcast-content h2 {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    margin-top: 50px;
}

.about-podcast-content p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    margin: 0 auto;
    max-width: 800px;
}


.line {
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 100px auto 50px auto;
}


.numbers-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.numbers-container h5 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 1000;
    margin: 0;
}

.numbers-container p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

/* Why choose section styles--------------------------------------------------------- */

.why-choose-container {
    background-color: #230E3D;
}

.wc-top {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    padding: 100px 0 40px 0;
}

.choose-card-1 {
    grid-area: card1;
}
.choose-card-2 {
    grid-area: card2;
}
.choose-card-3 {
    grid-area: card3;
}
.choose-card-4 {
    grid-area: card4;
}
.choose-card-5 {
    grid-area: card5;
}   
.choose-cards-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;
    display: grid;
    gap: 30px;
    grid-template-areas:
        "card1 card2 card2"
        "card1 card3 card3"
        "card4 card4 card5";
}

.choose-cards-container > div {
    background-color: rgba(53, 17, 101, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 16px;
    color: white;
}

.choose-cards-container p {
    color: rgba(255, 255, 255, 0.6);
}
.choose-cards-container h2 {
    color: white;
    margin: 10px 0 0 0;

}